@model TorquexMediaPlayer.Models.FileUpload

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<link href="~/Content/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>

<form method="post" enctype = "multipart/form-data" action="@Url.Action("Upload","Transcripts")">
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Transcript</h4>

        <div class="container">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus">
                </i>
                <span>
                    Add files...
                </span>
                        <input id="fileupload" type="file" name="files[]" multiple>
                    </span>
                        <br />
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">
                                    0% complete
                                </span>
                            </div>
                        </div>
                                    <br />
                                    <div class="file_name">
                                        </div>
                                        <br />
                                        <div class="file_type">
                                        </div>
                                            <br />
                                            <div class="file_size">
                                                </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="language" class="col-md-2 control-label">Language</label>
                                                    <div class="col-md-10">
                                                        <select id="language" name="language" class="form-control">
                                                            <option value="en-AU">Select Language</option>
                                                            <option value="en-AU">English Australian</option>
                                                            <option value="en-US">English US</option>
                                                            <option value="en-UK">English UK</option>
                                                        </select><br />
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <label for="custom_vocab" class="col-md-2 control-label">Custom Vocab Terms</label>
                                                    <div class="col-md-10">
                                                        <input type="text" id="custom_vocab" name="custom_vocab" class="form-control" /> Enter custom vocab phrases and terms seperated by a semi colon ";"
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="channel_mono" class="col-md-2 control-label">Mono</label>
                                                    <input type="radio" name="channel" value="mono" id="channel_mono" class="form-control" onclick="hideStereo()" checked />
                                                    <label for="channel_stereo" class="col-md-2 control-label">Stereo</label>
                                                    <input type="radio" name="channel" value="stereo" id="channel_stereo" class="form-control" onclick="showStereo()" />
                                                </div>
                                                <div class="form-group" hidden id="stereo">
                                                    <label for="stereo_channel1" class="col-md-2 control-label">Left Channel</label>
                                                    <div class="col-md-10">
                                                        <input type="text" id="stereo_channel1" name="stereo_channel1" value="Agent" class="form-control" />
                                                    </div>
                                                    <label for="stereo_channel2" class="col-md-2 control-label">Right Channel</label>
                                                    <div class="col-md-10">
                                                        <input type="text" id="stereo_channel2" name="stereo_channel2" value="Caller" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-group" id="diaryOn">

                                                    <label for="diarization" class="col-md-2 control-label">Diarization</label>
                                                    <div class="col-md-10">
                                                        @Html.CheckBoxFor(model => model.diarization, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    <label for="project" class="col-md-2 control-label">Project Name</label>
                                                    <div class="col-md-10">
                                                        <input type="text" id="project" name="project" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="upload" class="col-md-2 control-label"></label>
                                                    <div class="col-md-10">
                                                        <input type="submit" id="upload" value="Upload Selected Files" class="btn btn-default" />
                                                    </div>
                                                </div>
                                            </div>
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>





<script type="text/javascript">
    function hideStereo() {
        document.getElementById("stereo").hidden = true;
        document.getElementById("diaryOn").hidden = false;
    }
    function showStereo() {
        document.getElementById("stereo").hidden = false;
        document.getElementById("diaryOn").hidden = true;
//        document.getElementById("diarization").value = false;
    }

    $(document).ready(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            url: '/Transcripts/UploadFiles',
            autoUpload: true,
            done: function (e, data) {
                $('.file_name').html(data.result.name);
                $('.file_type').html(data.result.type);
                $('.file_size').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress .progress-bar').css('width', progress + '%');
        });
    });


</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
