@model TorquexMediaPlayer.Models.Transcript

@{
    ViewBag.Title = "Play";
    string mediaType;
}

<link rel="stylesheet" href="/Content/jquery-ui-1.10.4.custom.min.css" />
<link rel="stylesheet" href="/Content/jwplayer.vb-sdk-plugin.css" />
@*<script  type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript" src="/Scripts/lib/fuse.min.js"></script>

<script type="text/javascript" src="/Scripts/jquery.voicebase.js"></script>

<script type="text/javascript" src="/Scripts/lib/jquery.zclip.js"></script>
<script type="text/javascript" src="/Scripts/lib/jquery-ui-1.10.4.custom.min.js"></script>
<!-- latest JWPlayer -->
<script type="text/javascript" src="https://app.voicebase.com/js/jwplayer.js"></script>

<style type="text/css">
    .content {
        width: 840px;
        margin: 0 auto;
    }
</style>


<h2>Torquex Media Player</h2>

<div class="content">
    <div id="jwplayer">
        //               You need Flash player 8+ and JavaScript enabled to view this video.
    </div>
</div>

@if (!Model.Vocabs.IsEmpty())
{
<div style="padding:8px; align-content:center;"><b>Custom Vocabs Used : </b>@Html.DisplayFor(modelItem => Model.Vocabs)</div>
}
<script type='text/javascript'>
            jQuery(document).ready(function() {
                jwplayer('jwplayer').setup({
                    primary: "html5",
                    file: 'https://torquexstorage01.blob.core.windows.net/torquexmediaplayer/' + '@Html.DisplayFor(modelItem => Model.PlayFile)' ,
                    width: '100%'
                });

                jQuery('#jwplayer').voicebase({
                    playerId: 'jwplayer',
                    playerType: 'jwplayer',
                    apiUrl: 'https://apis.voicebase.com/v2-beta/',
                    apiVersion: '2.0',
                    mediaId: '@Html.DisplayFor(modelItem => Model.mediaId)' ,
                    token: '_OjQif8F7lFp06d_f2FQPfQzL9cTpUuL0z_aMpy9YN2N_5F6S8bys5ZrfTQVqPoYaBy7FLbuXIo7XZ1zlXLLFQ',
                    localSearch: true,
                    @{mediaType = Model.PlayFile.Substring(Model.PlayFile.Length - 3).ToLower() == "mp3" ? "audio" : "video" ;}
                    mediaTypeOverride: '@mediaType'
                });
            });
</script>

<p>
    @*    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>


